# Explore data sets

In [60]:
import pandas as pd

## 1- Twitter Reviews

In [61]:
df_1 = pd.read_csv("./data-sets/twitter.csv",header=None,names=["id","source","state","text"])

print(f"Total of {df_1.count()}")
df_1.head()

Total of id        74682
source    74682
state     74682
text      73996
dtype: int64

,id,source,state,text
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

## 2- Tweets

In [62]:
df_2 = pd.read_csv("./data-sets/tweets.csv",encoding='ISO-8859-1')

print(f"Total of {df_2.count()}")
df_2.head()

Total of textID              3534
text                3534
sentiment           3534
Time of Tweet       3534
Age of User         3534
Country             3534
Population -2020    3534
Land Area (Km²)     3534
Density (P/Km²)     3534
dtype: int64

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,morning,0-20,Afghanistan,38928346.0,652860.0,60.0
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,noon,21-30,Albania,2877797.0,27400.0,105.0
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,night,31-45,Algeria,43851044.0,2381740.0,18.0
3,01082688c6,happy bday!,positive,morning,46-60,Andorra,77265.0,470.0,164.0
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,noon,60-70,Angola,32866272.0,1246700.0,26.0

## 3- Movies

In [63]:
df_3 = pd.read_csv("./data-sets/imdb.csv")

print(f"Total of {df_3.count()}")
df_3.head()

Total of review       50000
sentiment    50000
dtype: int64

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive